body {
   font-family: "Lucida Console", "Courier New", monospace;
}

ul, ol {
   list-style: none;
   padding: 0;
   margin: 0;
 }

* {
  text-decoration: none;
  margin : 0;
}



nav a i { 
   /*#F29544 #690B09 */
   color :#946A39; 
   margin-left :15px;
   font-size: 40px;
   float: left;


}
nav {
   /* background-color:#00181C; */
   background-color: rgba(0, 24, 28, 0.5);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   color:white;
   height: 50px;
   z-index: 3;
   /* background: rgba(0, 0, 0, 0.5);  */

   }



.navlist{
   /* background-color: #F29544; */
   
   display: flex;
   gap: 2em;
   margin-right: 40px;
   font-size:18px;

 }

 nav ul a{
   color:white;

 }


 /* #check {
   display: none;  
} */

.checkbtn {
   font-size: 25px;
   color: white;
   float: right;
   line-height: 80px;
   margin-right: 40px;
   cursor: pointer;
   display: none;
}

.checkbtn:hover {
   color: #ff5733; 
}


.navlist li a:hover {
   color: #ff5733; 
}
 


.video-background {
   /* position: relative; */
   height: 100vh; /* Adjust the height as needed */
   /* overflow: hidden;  */
}

.video-container {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}

video {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.welcome {

   position: absolute;
   color: white;
   padding: 20px;
   top: 30%;
   left: 7%;
}

.welcome h1{
   margin-bottom: 5%;
  
}





.row1 {
   /* background-image: url('https://img.freepik.com/free-photo/abstract-digital-grid-black-background_53876-97647.jpg?w=1800&t=st=1697154552~exp=1697155152~hmac=36dbd98fe43a9fb27e6282e6f3e92d62b294670f869554a782d27db85a4a7ea5'); */

   padding: 15px;
   background-color: gray;
   display: flex;
   flex-direction: row;
   height: 100vh; 
   
 }



 .row1 .left-column {
   display: flex;  /*Add display:flex; to center the image */
   flex-direction: column;
   flex: 0 0 300px;


   /* background-color: #333; */
   color: #fff;
   /* padding: 20px;  */
   justify-content: center; /*vertical alignment*/

   align-items: center;
   /* align-items: center; Vertically center the content */
}

.row1 .left-column ul{
   padding: 10px;
   text-align: center;
}



#front_picture {
  /* display: block; */
  padding: 10px;
  border-radius: 50%;
  width: 90%; 
}

.row1 .right-column {
   display: flex;
   flex: 1;
   justify-content: center; 
   align-items: center;  

}

.row1 .right-column .first_text {
   display: flex;
   color: white;

   flex-direction: column;

   /* justify-content: center; 
   align-items: center; */
   text-align: justify;
   padding: 100px;
  
}



.title_projects{
   padding: 20px;

}
.row2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center;  */
   height: 100vh; 
   /* flex-wrap: wrap */

}



.title_projects {
   color: black;
   margin-top: 5%;
}

.row2 .boxes_container {
   /* width: 95%; */
   /* background-color: #F29544; */

   position: relative;
   top:5%;
   display: flex;
   /* flex-direction: column; */

   /* padding: 5px; */
   flex-wrap: wrap;
   /* flex-basis: 10%;  */
   justify-content: center;

}

.row3 .boxes_container {
   /* width: 95%; */
   background-color:blue;
   height: 100vh; 
   display: flex;
   padding: 5px;
   flex-wrap: wrap;
   justify-content: center;

}


.box {
   position: relative; 
   /* overflow: hidden; */
   /* background-color: #F29544; */
   color: #946A39;

   display: flex;
   flex-direction: column;
   align-items: center;
   /* padding: 10px; */
   width: 300px;
   height: 200px;
}
.picture_project {
   /* display: block; */
   position: relative; 
   padding: 10px;
   width: 70%;
   /* border-radius: 10%; */
}




.overlay {
   /* display: block; */
   position: absolute;
   top: 10px; 
   width: 70%;
   height: 70%;
   /* border-radius: 10%; */

   background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity as needed */
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
   opacity: 0; /* Initially hidden */
   transition: opacity 0.5s; /* Add a smooth transition effect */
 }
 
 .text {
   color: white;
   font-size: 18px;
 }



.box:hover .overlay {
   opacity: 1;
 }

.row3 {


   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh; 
   background-image: url('img/pexels-david-bartus-963278.jpg');

}


/* MEDIA QUERIES */

/* Estilos para pantallas más pequeñas (hasta 768px) */

@media (max-width: 768px) {
   .row1 {
      flex-direction: column;

   }
   .row1 .left-column {
   margin-top: 5%;      
   }

   .row1 .right-column {
      margin-bottom: 5%;      
      }
   .row1 .right-column .first_text {
      padding: 50px;



   }
   #front_picture {
      width: 40%;

   }
   .checkbtn {
      display: block;
    }

    .navlist {
      flex-direction: column;
      justify-content:space-evenly;
      height: 0vh;
      opacity: 0.9;
      z-index: 2;

      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background:#946A39;
      text-align: center;
      transition: all 0.5s;
      overflow: hidden;

    }
  
    
    /* ACTIVE */
    .navlist.active {
      
      height: 91vh;
      /* opacity: 0.9; */


    }
    .checkbtn.active {
      color: #946A39; 
      ;
    }


   }

   @media (max-width: 380px) {
   .row1 {
         height: 110vh;
      }
   .row2, .row3{
      height: 150vh;
   }
   .row2 .boxes_container {
      top: 0%;
      flex-direction: column;
      justify-content: space-between;


   }
   .box_container{
      display: flex;
      justify-content: space-between;
   }
}




   


